@font-face {
    font-family: 'Intro Head B';
    src: url('https://xn--l1adbbf.xn--90aiakgkqi1l.xn--p1ai/fonts/IntroHeadB-Base.eot');
    src: url('https://xn--l1adbbf.xn--90aiakgkqi1l.xn--p1ai/fonts/IntroHeadB-Base.eot?#iefix') format('embedded-opentype'),
        url('https://xn--l1adbbf.xn--90aiakgkqi1l.xn--p1ai/fonts/IntroHeadB-Base.woff2') format('woff2'),
        url('https://xn--l1adbbf.xn--90aiakgkqi1l.xn--p1ai/fonts/IntroHeadB-Base.woff') format('woff'),
        url('https://xn--l1adbbf.xn--90aiakgkqi1l.xn--p1ai/fonts/IntroHeadB-Base.ttf') format('truetype'),
        url('https://xn--l1adbbf.xn--90aiakgkqi1l.xn--p1ai/fonts/IntroHeadB-Base.svg#IntroHeadB-Base') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H';
    src: url('https://xn--l1adbbf.xn--90aiakgkqi1l.xn--p1ai/fonts/IntroHeadH-Base.eot');
    src: url('https://xn--l1adbbf.xn--90aiakgkqi1l.xn--p1ai/fonts/IntroHeadH-Base.eot?#iefix') format('embedded-opentype'),
        url('https://xn--l1adbbf.xn--90aiakgkqi1l.xn--p1ai/fonts/IntroHeadH-Base.woff2') format('woff2'),
        url('https://xn--l1adbbf.xn--90aiakgkqi1l.xn--p1ai/fonts/IntroHeadH-Base.woff') format('woff'),
        url('https://xn--l1adbbf.xn--90aiakgkqi1l.xn--p1ai/fonts/IntroHeadH-Base.ttf') format('truetype'),
        url('https://xn--l1adbbf.xn--90aiakgkqi1l.xn--p1ai/fonts/IntroHeadH-Base.svg#IntroHeadH-Base') format('svg');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none
}

body {
    font-family: 'Intro Head B';
    font-weight: normal;
    font-style: normal;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    height: 100%;
    color: #272727;
}

.container.uf-container.container--custom {
    color: #232323;
    font-size: 16px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    padding: 0;
}

.container.uf-container.container--custom::-webkit-scrollbar {
    width: 0;
}

.container-tutorial__text {
    font-family: 'Intro Head B';
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /*color: #0878CA;*/
}

.dropzone.dropzone--custom.dz-clickable {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    text-align: center
}

.dropzone .dz-preview.dz-image-preview {
    margin: 16px auto;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .dropzone .dz-preview.dz-image-preview {
        width: 200px;
    }
}

.dropzone .dz-preview .dz-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.dropzone .dz-preview .dz-remove {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0 !important;
    font-weight: bold;
    background-color: #F6DF2D;
    border-color: #F6DF2D;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border-radius: 0;
    z-index: 21;
    color: #CD1722;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding-left: 20px;
    text-decoration: none;
    overflow: hidden;
}

.dropzone .dz-preview .dz-remove::before {
    content: 'X';
    position: absolute;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.dropzone .dz-preview .dz-remove:hover {
    background: #FFF8C1;
    text-decoration: none;
}

.uf-button-wrapper.button-wrapper--custom {
    text-align: center
}

.uf-button-submit.button-submit--custom {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 300px;
    width: 100%;
    height: 52px;
    font-family: 'Intro Head H';
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    margin: auto;
    padding: 14px 0;
    text-align: center;
    text-transform: uppercase;
    color: #CD1722;
    background: #F6DF2D;
    box-shadow: 0px 4px 4px rgba(98, 0, 0, 0.43);
    border-radius: 50px;
    transition: all .3s linear;
    overflow: hidden;
    opacity: 1;
    z-index: 0;
    border: none;
    cursor: pointer;
    outline: none;
}

.uf-button-submit.button-submit--custom:hover,
.uf-button-submit.button-submit--custom:focus {
    background: #FFF8C1;
    color: #CD1722;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom {
    margin-top: 20px;
}

.dropzone.dz-started .dz-message span,
.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 300px;
    width: 100%;
    height: 52px;
    font-family: 'Intro Head H';
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    margin: auto;
    padding: 14px 0;
    text-align: center;
    text-transform: uppercase;
    color: #CD1722;
    background: #E5E5E5;
    box-shadow: 0px 4px 4px rgba(98, 0, 0, 0.43);
    border-radius: 50px;
    transition: all .3s linear;
    overflow: hidden;
    opacity: 1;
    z-index: 0;
    border: none;
    cursor: pointer;
    outline: none;
}

.dropzone.dz-started .dz-message span:hover,
.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button:hover {
    background: #FFF8C1;
    color: #CD1722;
}

.uf-controls-wrapper {
    margin-top: 20px;
}

.uf-controls-wrapper .form-control {
    max-width: 300px;
    width: 100%;
    height: 50px;
    padding: 0;
    padding-left: 20px !important;
    margin: 10px auto;
    font-family: 'Intro Head B';
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    color: #272727;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    transition: all .2s linear;
    box-sizing: border-box;
}

.input-group.date {
    /*overflow: hidden;*/
    margin: 10px auto;
    width: 100%;
    min-width: 240px;
    max-width: 300px;
}

.input-group.date input {
    margin: 0;
    min-width: 200px;
}

.input-group.date .input-group-addon {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border: none;
}

.bootstrap-datetimepicker-widget {
    z-index: 9999;
    background: #fefefe;
    color: #000;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 17em;
}